$primary:#3499
$white:#fff
   
    
.nav  
   display: flex
   justify-content: space-between
   align-items: center
   background-color: $primary    
   padding: 1rem 2rem
   color: $white
   margin-bottom: 1rem

.logo 
   font-size: 1.5rem
   font-weight: bold

.nav-links
    list-style: none
    display: flex
    gap: 1rem

a
   text-decoration: none
   color: white
   font-weight: 1.3rem