<div class="container"> 
    <h1>My second component</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti exercitationem est quis quidem, nam labore, corrupti repudiandae maiores in facere, quas quos ducimus! Nobis voluptatum vero eligendi iusto possimus, voluptas nemo dolorem iure maxime aliquam perspiciatis repudiandae laudantium cumque porro culpa similique nostrum ducimus. Voluptas illo inventore explicabo fugiat nihil officia suscipit nesciunt, modi, voluptatibus alias quis quae impedit neque ex eius, animi maiores facilis quibusdam voluptates? Exercitationem, in possimus asperiores repellat amet a vero dolor numquam debitis suscipit, tenetur ad vel laborum quidem voluptas eveniet corrupti dignissimos inventore consequuntur illo saepe eius nobis odit fugit. Recusandae fugiat consequuntur vitae!</p>
    </div>

<!-- 
    <div [ngStyle]="{'color':carColor, 'font-size':textSize+'rem'}">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, eos!</p>
    </div>

    <div [ngClass]="{'isActive':isActive, 'notActive':notActive}">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, magni. Eum accusamus eius beatae est laudantium maiores soluta non aperiam.</p>
    </div> -->

    <app-binding-session></app-binding-session>